doctype html
html(lang="en")
    header     
        h1 Noom
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    main
        div#welcome
            form    
                input(placeholder='roomname' required,type='text')
                button Enter Room

        script(src="/socket.io/socket.io.js") 
        script(src="/public/js/app.js") 